@model List<Madehuman_User.ViewModel.WareHouse.WareHouseZoneViewModel>

@{
    
}

<h2>@ViewData["Title"]Danh sách khu trong kho</h2>

<a asp-action="Create" class="btn btn-primary mb-3">➕ Thêm khu mới</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên Khu</th>
            <th>Tên kho hàng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var zone in Model)
        {
            <tr>
                <td>@zone.Id</td>
                <td>@zone.Name</td>
                <td>@zone.WarehouseId</td>
                <td>
                    <a asp-action="Details" asp-route-id="@zone.Id" class="btn btn-info btn-sm">🔍 Xem</a>
                    <a asp-action="Edit" asp-route-id="@zone.Id" class="btn btn-warning btn-sm">✏️ Sửa</a>
                    <a asp-action="Delete" asp-route-id="@zone.Id" class="btn btn-danger btn-sm">🗑️ Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
